

body { 
  background: url(../images/background.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
    font-family: 'Ubuntu';
    font-weight: 400;
    
}

.container{
/*
    margin-left: none;
    margin-right: none;
    margin-right: 0;
    margin-left: 0;
*/
    
}

#scrollable-dropdown-menu .tt-dropdown-menu {
  max-height: 150px;
  overflow-y: auto;
}

.intro{
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    color: white;
    font-size: 1em;
    
/*    background-color: rgba(0, 0, 0, 0.4);*/
/*    font-size: 2em;*/
    
}

#about-text{
    font-size: 15px;
    
}

.add-product-col {
    background-color: rgba(0, 0, 0, 0.4);
    text-align: center;
    margin-top: 30px;
}

.social{
color: white;
}

.add-product-col:hover {
    cursor: pointer;
}

#add-product-text {
    font-size: 3em;
    color: white;
    
}

#get-product-text {
    font-size: 3em;
    color: white;
}

.get-product-col {
    background-color: rgba(0, 0, 0, 0.4);
    text-align: center;
     margin-top: 30px;
    margin-bottom: 30px;
    
/*    display: flex;*/
}

#map{
    margin-bottom: 10px;
    
}

.btn-nav{
   margin-left: 10px;
    background-color: transparent;
    border-color: transparent;
    color: white;
}

.btn-nav:visited{
    color:white;
}
.btn-nav:hover{
    color: black;
    background-color: white;
}


#main{
    text-align: center;
    margin-top: 2%;
    
    
}


.get-product-col:hover {
    cursor: pointer;
}



.ingredient-list{
/*    height: 100px;*/
background-color: white;
/*    margin-left: 15px;*/
/*    display: block;*/
}

/*
.footer {
    margin-top: 1000px;
    bottom: 0px;
     background-color:  rgba(0, 0, 0, 0.4);
    text-align: center;
    color: white;
     padding-bottom: 0;
    position: absolute;
    margin-bottom: 0px !important;
    width: 100%;
}
*/

.footer{
/*    position: absolute;*/
/*    left: 0;*/
/*    bottom: 0;*/
/*    height: 100px;*/
/*    width: 100%;*/
/*    overflow:hidden;*/
/*    background-color:rgba(0, 0, 0, 0.4); */

/*
    padding-right: 15px;
    margin-right: 55px;
*/
    margin-bottom: 20px;
    margin-top: 50px;
}

.button-row{
    margin-top: 20px;
}

.title {
    text-align: center;
/*    background-color:  rgba(0, 0, 0, 0.4);*/
    color: white;
/*    padding-top: 2%;*/
   
}

.title h1{
    font-size: 7em;
font-family: 'Lobster', cursive;
    /*font-family: 'Amatica SC', cursive;*/
/*    font-weight: bold;*/
}

#footer-text{
    margin-top: 0px;
    margin-bottom: 0px;
    color: white;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}

.btn-info{
    color: dimgrey;
    border-color:#ccc;
    background-color: silver;
}

#map{
    width: 100%;
    height: 380px;
/*    margin-left: 20%;*/

}

img:hover{
    cursor: pointer;
}


footer{
  padding-bottom: 20px;
}


.tt-menu {
    background-color: white;
    padding: 10px 10px;
    width: inherit;
}

/*-------------- MODAL BEGIN ----------------*/
.modal-header {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
}

/* Modal Body */
.modal-body {padding: 2px 16px;}

/* Modal Footer */
.modal-footer {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
}

/* Modal Content */
.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {top: -300px; opacity: 0} 
    to {top: 0; opacity: 1}
}

@keyframes animatetop {
    from {top: -300px; opacity: 0}
    to {top: 0; opacity: 1}
}
/*------------------ END OF MODAL---------------*/



@media (max-width: 768px){
    
    .col-xs-offset-3{
/*        margin-left: 5%;*/
    }
  
    
    
}



